<section class="portfolio_masonry">
          <div class="container">
               <div class="row isotope_portfolio_container">
                    <div class="cat_just_photos col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a class="prettyPhoto" href="images/portfolio/t2.jpg"> <img src="images/portfolio/t2.jpg" alt="The title of the photo">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-resize-full"></i> </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_projects col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a href="portfolio_item.html"> <img src="images/portfolio/a6.jpg" alt="Title of the project">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-external-link"></i>
                                        <h3>Title of the project</h3>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                                   </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_just_photos col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a class="prettyPhoto" href="images/portfolio/b3.jpg"> <img src="images/portfolio/b3.jpg" alt="The title of the photo">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-resize-full"></i> </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_projects col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a href="portfolio_item.html"> <img src="images/portfolio/a4.jpg" alt="Title of the project">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-external-link"></i>
                                        <h3>Title of the project</h3>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                                   </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_just_photos col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a class="prettyPhoto" href="images/portfolio/p4.jpg"> <img src="images/portfolio/p4.jpg" alt="The title of the photo">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-resize-full"></i> </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_projects col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a href="portfolio_item.html"> <img src="images/portfolio/t4.jpg" alt="Title of the project">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-external-link"></i>
                                        <h3>Title of the project</h3>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                                   </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_just_photos col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a class="prettyPhoto" href="images/portfolio/t3.jpg"> <img src="images/portfolio/t3.jpg" alt="The title of the photo">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-resize-full"></i> </div>
                              </div>
                              </a> </div>
                    </div>
                    <div class="cat_projects col-sm-4 col-md-4">
                         <div class="portfolio_item"> <a href="portfolio_item.html"> <img src="images/portfolio/a3.jpg" alt="Title of the project">
                              <div class="overlay">
                                   <div class="desc"> <i class="fa fa-external-link"></i>
                                        <h3>Title of the project</h3>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                                   </div>
                              </div>
                              </a> </div>
                    </div>
               </div>
          </div>
     </section>
