<!doctype html>
<html class="no-js" lang="en">
{{ partial "page_alternative/head.html" . }}
<body>
{{ partial "page_alternative/header.html" . }}
<div class="main">
     {{ partial "page_alternative/hgroup.html" . }}
     {{ partial "page_alternative/figure.html" . }}
     {{ partial "page_alternative/article_text.html" . }}
     {{ partial "page_alternative/call_to_action.html" . }}
     {{ partial "page_alternative/team.html" . }}
     {{ partial "footer.html" . }}
</div>
{{ partial "page_alternative/scripts.html" . }}
</body>
</html>
