<!doctype html>
<html class="no-js" lang="en">
{{ partial "portfolio_item/head.html" . }}
<body>
{{ partial "portfolio_item/header.html" . }}
<div class="main">
     {{ partial "portfolio_item/call_to_action.html" . }}
     {{ partial "portfolio_item/portfolio_slider_wrapper.html" . }}
     {{ partial "portfolio_item/info.html" . }}
     {{ partial "portfolio_item/portfolio_teasers_wrapper.html" . }}                 {{ partial "footer.html" . }}
</div>
{{ partial "portfolio_item/scripts.html" . }}
</body>
</html>
