<!doctype html>
<html class="no-js" lang="en">
{{ partial "services/head.html" . }}
<body class="collapsing_header">
{{ partial "services/header.html" . }}
{{ partial "services/slider.html" . }}
<div class="main">
     {{ partial "services/hgroup.html" . }}
     {{ partial "services/service_teaser.html" . }}
     {{ partial "services/pricing_wrapper.html" . }}
     {{ partial "services/service_teaser.html" . }}
     {{ partial "services/clients.html" . }}
     {{ partial "services/footer.html" . }}
</div>
{{ partial "services/scripts.html" . }}
</body>
</html>
