<section>
          <div class="container">
               <ul class="portfolio_filters">
                    <li><a href="#" data-filter="*">show all</a></li>
                    <li><a href="#" data-filter=".cat_artists">artists</a></li>
                    <li><a href="#" data-filter=".cat_people">people</a></li>
                    <li><a href="#" data-filter=".cat_travel">travel</a></li>
                    <li><a href="#" data-filter=".cat_poetic">poetic</a></li>
               </ul>
          </div>
     </section>
