               <div class="service_teaser">
                    <div class="row">
                         <div class="service_photo col-sm-4 col-md-4">
                              <figure style="background-image:url(images/serv_2.jpg)"></figure>
                         </div>
                         <div class="service_details col-sm-8 col-md-8">
                              <h2 class="section_header skincolored"><b>Clean</b>Service<small>this default style is about minimalism and simplicity</small></h2>
                              <p><strong>Restart</strong> makes real use of the power of {LESS} syntax!. It is built upon Bootstrap, a front-end development framework with a steep learning curve. It comes with a style.less file that tries to use <strong>all the power of {less} and bootstrap combined</strong>. </p>
                              <a class="btn btn-primary pull-right" href="documentation/index.html"><i class="fa fa-gears"></i>&nbsp; Read Full Documentation</a> </div>
                    </div>
               </div>
