<div class="col-sm-4 col-md-4">
                    <div class="pricing_plan">
                         <h3>Price<strong>Plan</strong> <small>can also be .special</small></h3>
                         <div class="the_price"><span>$</span>150<small>/year</small></div>
                         <div class="the_offerings">
                              <p>This is where you put the description of the service if you feel like doing so.</p>
                              <ul>
                                   <li><strong>1</strong> Design Template</li>
                                   <li><strong>2</strong> Revisions</li>
                                   <li><strong>5</strong> HTML Pages</li>
                                   <li><strong>1</strong> Wordpress theme</li>
                                   <li><strong>24/7</strong> Support</li>
                              </ul>
                         </div>
                         <a href="#" class="btn btn-primary btn-lg">Get it Now!</a> </div>
               </div>
