<section class="call_to_action parallax-window" style="background-image: url(images/1.jpg);"> 
     <!-- When you use the parallax-window functionality, don't forget to include <script type="text/javascript" src="js/parallax.min.js"></script> -->
     <img alt="responsive" src="images/star.png">
          <div class="container">
               <h3>call to action element</h3>
               <h4>inside a parallax-window section</h4>
               <a class="btn btn-primary btn-lg" href="#">Button with an icon  &nbsp;<i class="fa fa-rocket"></i></a>
          </div>
     </section>
