<section class="padding_top padding_bottom primary_section separator_top sep_angled_negative_top separator_bottom sep_angled_negative_bottom">    
          <div class="container">
               <div class="row">
               <div class="col-sm-12">
               <h2 class="section_header fancy centered">Section Separators: Angled-negative</h2>
               <p>You can now add section separators on top and on bottom of each section. This section has Negative-angled separators on both sides. This is done by adding a colorset to the section element and "separator_top sep_angled_negative_top separator_bottom sep_angled_negative_bottom" classes too.</p>
               </div>
               </div>
          </div> 
     </section>
