<section class="padding_top padding_bottom">        
          <div class="container">
               <div class="row">
               <div class="col-sm-12">
               <h2 class="section_header fancy centered">Color Sets</h2>
               <p>All design elements contain four important colors that form their core styling: The background color, The text color, The link text color, The link mouse hover color. This color combination is defined as a 'color set'. When a color set is applied to a layout element ( i.e. a row or a column ), this element inherits the background, text and link text color of its color set configuration.</p>
               </div>
               </div>
               <div class="row margin_top">
                    <div class="col-sm-3 primary_section">
                         <h3>Primary color set</h3>
                         <p>This is the text and a <a href="#">link</a></p>
                    </div>
                    <div class="col-sm-3 secondary_section">
                         <h3>Secondary color set</h3>
                         <p>This is the text and a <a href="#">link</a></p>
                    </div>
                    <div class="col-sm-3 light_section">
                         <h3>Light color set</h3>
                         <p>This is the text and a <a href="#">link</a></p>
                    </div>
                    <div class="col-sm-3 black_section">
                         <h3>Dark color set</h3>
                         <p>This is the text and a <a href="#">link</a></p>
                    </div>
               </div>
          </div>
     </section>
