 <div class="row">
               <div class="col-sm-4 col-md-4">
                    <div class="alert alert-error alert-warning alert-dismissable"> <a class="close">×</a> <strong>Error</strong> Change a few things up and try submitting again. </div>
               </div>
               <div class="col-sm-4 col-md-4">
                    <div class="alert alert-success alert-dismissable"> <a class="close">×</a> <strong>Success</strong> You successfully read this important alert message. </div>
               </div>
               <div class="col-sm-4 col-md-4">
                    <div class="alert alert-info alert-dismissable"> <a class="close">×</a> <strong>Information</strong> This alert needs your attention, but it's not super important. </div>
               </div>
          </div>
