<div class="service_teaser">
               <div class="row">
                    <div class="service_photo col-sm-4 col-md-4">
                         <figure style="background-image:url(images/serv_7.jpg)"></figure>
                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                         <h2 class="section_header skincolored"><b>Service</b>Element<small>has many styles!</small></h2>
                         <p>The element has a default styling that can be altered just by adding the appropriate class to the <code>&lt;div class=&quot;service_teaser&quot;&gt;</code>. The available classes are <code>right</code>, <code>elegant</code>, <code>vertical</code> and <code>inverted</code>. See some examples at the <a href="services.html">services</a> page.</p>
                         <a class="btn btn-primary pull-right" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
               </div>
     </div>
