<section class="text-center">
          <div id="bgndVideo" class="section_background_video_container"><div data-property="{videoURL:'l_tHTmd5pgk', containment:'#bgndVideo', autoPlay:true, mute:true, showControls: false, startAt:0, opacity:1}" class="player"></div></div>
          <div class="container">
               <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
               <a class="btn btn-primary btn-lg" href="#">Background YouTube Video Section</a><br/>
               <small><a href="https://github.com/pupunzi/jquery.mb.YTPlayer/wiki">GitHub Page</a></small>
               <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          </div>
     </section>
