 <section class="clients_section wow animated fadeInUp">
          <div class="container">
               <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
               <div class="clients_list"> <a href="#"><img src="images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/jquery.jpg" alt="client"></a> <a href="#"><img src="images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/wpml.jpg" alt="client"></a> </div>
          </div>     
     </section>
